.nav-a{margin: 30px 10px 30px 10px;
}

@media screen and (min-width: 250px) and (max-width: 599px){
.nav-a{margin: 30px 10px 30px 10px;
}
.nav{
        background: gray;
        text-align: center;
        margin: 10px 10px 20px 10px;
        padding: 15px 20px 10px 20px
    }
    
    
    .nav> li{
        display: inline-block;
        color: goldenrod;
        text-align: center;
        padding: 10px 10px 10px 10px;
    }
    .nav li a{
        color: white;
        text-decoration: none;
        font-size: 20px;
    }

.wrapper{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: minmax(120px,auto);
    max-width: 250px;
    margin: 0 auto;
    grid-gap: 10px ;
}
.wrapper-two{
	display: grid;
    grid-template-columns: repeat(1,2fr);
    grid-template-rows: repeat(1, 1fr);
    max-width: 100%;
    margin: 0 auto;
    grid-gap: 10px ;

}
.service{color: cornflowerblue;}
.services{ line-height: 2em;
    }
#va{color: cornflowerblue;}

.veh{ line-height: 2em;
   }

.footer{background:gray ;
	margin: 30px 0px 2px 0px;
}

.about{
    
    padding: 20px 20px;
}
.mission{
   padding: 20px 20px;
}

.ql{text-align: center;
	list-style: none;

}
.ql > li {
	padding: 5px ;
	font: 2em;
	color: white;
}
.ql > li > a {text-decoration: none;
	color: white;
	padding-right: 10%;
}



.quick-link{
	color: cornflowerblue;
}


.h{color: white;
    text-align: center;
    grid-row: 2/3;
    grid-column: 1/4;
}

.home{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3,1fr) ;
    grid-template-rows:repeat(3,minmax(150px,auto)) ;
    max-width: 1200px;
}
#home{
    background-image: url(nyc.jpg);
    background-size: cover;
    background-attachment: fixed;

}
}













/*TABLET MEDIA QUERY*/
@media screen and (min-width: 600px) and (max-width: 768px){
    .nav-a{margin: 30px 10px 30px 10px;
}
.nav{
        background: gray;
        text-align: center;
        margin: 10px 10px 20px 10px;
        padding: 15px 20px 10px 20px
    }
    
    
    .nav> li{
        display: inline-block;
        color: goldenrod;
        text-align: center;
        padding: 10px 10px 10px 10px;
    }
    .nav li a{
        color: white;
        text-decoration: none;
        font-size: 20px;
    }
    .hambuger{display: none;}

.wrapper{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: minmax(120px,auto);
    max-width: 700px;
    margin: 0 auto;
    grid-gap: 10px ;
}
.wrapper-two{
	display: grid;
    grid-template-columns: repeat(1,2fr);
    grid-template-rows: repeat(1, 1fr);
    max-width: 100%;
    margin: 0 auto;
    grid-gap: 10px ;

}
.service{color: cornflowerblue;
padding: 0 20px;}
.services{ line-height: 2em;
	padding: 0 20px;
    }
#va{color: cornflowerblue;
padding: 0 20px;}

.veh{ line-height: 2em;
	padding: 0 20px;
   }


.about{
    
    padding: 20px 20px;
}
.mission{
   padding: 20px 20px;
}


.h{color: white;
    text-align: center;
    grid-row: 2/3;
    grid-column: 1/4;
}

.home{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3,1fr) ;
    grid-template-rows:repeat(3,minmax(150px,auto)) ;
    max-width: 1200px;
}
#home{
    background-image: url(nyc.jpg);
    background-size: cover;
    background-attachment: fixed;

}




.footer{background:gray ;
	margin: 30px 0px 2px 0px;
}
.ql{text-align: center;
	list-style: none;
font-size: 20px;
}
.ql > li {
	padding: 5px ;
	font: 2em;
	color: white;

}
.ql > li > a {text-decoration: none;
	color: white;
	padding-right: 10%;

}


.quick-link{
	color: cornflowerblue;
}



}

















/*DESKTOP MEDIA QUERY*/
@media screen and (min-width:769px) {
.nav-a{margin: 30px 10px 30px 10px;
}
.hambuger{display: none;}
.nav{
    background: gray;
    text-align: center;
    margin: 10px 10px 20px 10px;
    padding: 15px 20px 10px 20px
}


.nav> li{
    display: inline-block;
    color: goldenrod;
    text-align: center;
}
.nav li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 10px;
}
a:hover{
    color: wheat;
    cursor: pointer;
}
.wrapper{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3,1fr) ;
    grid-template-rows:repeat(3,minmax(150px,auto)) ;
    max-width: 1000px;
    
}
.wrapper-two{
	display: grid;
    grid-template-columns: repeat(1,2fr);
    grid-template-rows: repeat(1, 1fr);
    max-width: 100%;
    margin: 0 auto;
    grid-gap: 10px ;

}
.ps{
    letter-spacing: 2px;
    line-height: 2em;
    
}
.service{color: cornflowerblue;
padding: 0 20px;}
.services{ 
grid-column: 1/3;
grid-row:1/3;
padding: 15px 10px 5px 20px;}
.veh{line-height: 2em;
    grid-column: 3/3;
    grid-row:1/3;
padding: 15px 10px 5px 10px;
margin: 0px 0px 0px 100px;
}

#va{color: cornflowerblue;
}


.wrapper-a{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5,1fr) ;
    grid-template-rows:repeat(3,minmax(150px,auto)) ;
    max-width: 1200px;
    
}
.about{
    grid-row: 1/3;
    grid-column: 1/3;
    padding: 20px 20px;
}
.mission{
    grid-row: 1/3;
    grid-column: 4/6;
}

.home{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(6,2fr) ;
    grid-template-rows:repeat(3,minmax(150px,auto)) ;
    max-width: 1200px;
}
#home{
    background-image: url(nyc.jpg);
    background-size: cover;
    background-attachment: fixed;

}
.h{color: white;
    text-align: center;
    grid-row: 2/3;
    grid-column: 2/7;}





.footer{background:gray ;
	margin: 30px 0px 2px 0px;
}
.ql{text-align: center;
	list-style: none;
font-size: 20px;
}
.ql > li {
	padding: 5px ;
	font: 2em;
	color: white;

}
.ql > li > a {text-decoration: none;
	color: white;

	padding-right:4%;

}


.quick-link{
	color: cornflowerblue;
}

}



















